.nav {
  display: flex;
  flex-direction: row;
  gap: 45px;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 4px rgb(90, 90, 90);
}

.active {
  border-bottom: 2px solid black;
}
